.navbar{
    position: fixed;
    top: 0px;
    background-color: #fff;
    border-bottom: 1px solid #f0f1f2;
    min-height: 56px;
    min-width: 100vw;
    max-height: 56px;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo-container, .navbar .logo-container .logo {
    max-height: 50px;
    transition: .5s;
}

.nav-btn {
    max-height: 29px;
    padding: .5rem;
}

.search-container input {
    height: 30px;
    width: 250px;
    border-radius: 0;
    padding-left: .5rem;
    outline: 0px solid;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 0px var(--border-color);
    transition: .5s;
}


.nav-btns {
    display: flex;
    flex-direction: row;
    transition: .5s;
}

.nav-btn {
    cursor: pointer;
}

.search-container {
    background-color: lightgray;
    border-radius: 12px;
    display: flex;
    transition: .5s;
}

.search-container select {
    background: none;
    border: 0px;
    display: flex;
    text-align: center;
    padding: 2px;
}

.round {
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
}

.search-container i {
    font-size: 20px;
    cursor: pointer;
    align-self: center;
}

.round:hover{
    background-color: var(--primary-color);
    border-radius: 0px 12px 12px 0px;
}

.round:hover i{
    filter: invert(1);
}

.round:active {
    animation: radialdisappear .7s ease;       
}

@keyframes radialdisappear {
    0%{
        opacity: 100%;
        transform: scale(1);
    }
    50%{
        transform: rotateZ(180deg) scale(.3);
    }
    100%{
        transform: rotateZ(360deg) scale(0);
    }
}

.sidebar-toggle button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*--------------------------
hamburger button styling 
---------------------------*/

.sidebar-toggle span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #838383;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.sidebar-toggle span:nth-child(1) {
    top: 0px;
}

.sidebar-toggle span:nth-child(2),.sidebar-toggle span:nth-child(3) {
    top: 9px;
}

.sidebar-toggle span:nth-child(4) {
    top: 18px;
}

.sidebar-toggle.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.sidebar-toggle.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sidebar-toggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sidebar-toggle.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.sidebar-toggle {
    width: 40px;
    height: 24px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: none;
    min-width: 103px;
}

.settings a {
    text-decoration: none;
    color: black;
}

.user-options {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(255 127 80 / 89%) 0px 1px 5px;
    transition: .5s;
    height: 0;
}

.option {
    padding: 5px;
    margin: 5px 5px 0 5px;
    border-top: #838383 solid 1px;
    cursor: pointer;
}

.one {
    border-top: none;
}

.one, .two, .three, .four {
    display: none;
}

@media (max-width: 2000px) {
    .search-container {
        transform: translateX(-50%);
    }
    .logo-container {
        transform: translateX(-500%);
    }
    .sidebar-toggle {
        transform: translateX(-100%);
    }
    .nav-btns {
        transform: translateX(50%);
    }
}

@media (max-width: 1650px) {
    .search-container {
        transform: translateX(-40%);
    }
    .logo-container {
        transform: translateX(-350%);
    }
    .sidebar-toggle {
        transform: translateX(-90%);
    }
    .nav-btns {
        transform: translateX(50%);
    }
}

@media (max-width: 1350px) {
    .search-container {
        transform: translateX(-30%);
    }
    .logo-container {
        transform: translateX(-250%);
    }
    .sidebar-toggle {
        transform: translateX(-60%);
    }
    .nav-btns {
        transform: translateX(50%);
    }
}

@media (max-width: 1100px) {
    .search-container {
        transform: translateX(-10%);
    }
    .logo-container {
        transform: translateX(-50%);
    }
    .sidebar-toggle {
        transform: translateX(-10%);
    }
    .nav-btns {
        transform: translateX(50%);
    }
}

@media (max-width: 900px) {
    .navbar .logo-container, .navbar .logo-container .logo {
        max-height: 40px !important;
    }
    .navbar .logo-container .logo{
        max-height: 40px !important;
    }
    .search-container {
        transform: none;
    }
    .logo-container {
        transform: none;
    }
    .sidebar-toggle {
        transform: none;
    }
    .nav-btns {
        transform: translateX(0%);
    }
}

@media (max-width: 450px) {
    .navbar {
        position: fixed;
        min-width: 100vw;
        max-height: 56px;
    }
    .sidebar-toggle {
        transform: translateX(20%);
    }

    .navbar .logo-container, .logo-container .logo {
        display: none;
    }
    .search-container {
        background-color: lightgray;
        border-radius: 12px;
        display: flex;
        top: 56px;
        transform: translateX(10%);
    }

    .search-container input {
        width: 140px !important;
    }

    .round:hover{
        background-color: transparent;
    }
    
    .round:hover i{
        filter: none;
    }

    .nav-btns #login{
        transform: translateX(28%)
    }
}