.profile-recipe-card {
    display: flex;
    padding: 30px;
    gap: 20px;
    animation: slideInLeft .7s ease-in;

    margin: 0px 20px;
    border-bottom: 1.4px solid var(--border-color);

    overflow: hidden;
    background: linear-gradient(45deg, rgba(12, 12, 12, 0.932), rgba(12, 12, 12, 0.932) 50%, white 50%);
    background-size: 201% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.profile-recipe-card.even{
    animation: slideInRight .7s ease-in;
}

.remove{
    display: none;
}

/* Hover effects for the search results card */
.profile-recipe-card:hover {
    box-shadow: 0px 0px 0px black;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    margin: 0px 20px;
    background-position: 0 100%;
}

.profile-recipe-card:hover .result-image img{
    animation: imageParentHover .37s ease;
    box-shadow: 0px 0px 0px black;
    border-radius: 10%;
    border: 0px;
    transition: 2s ease;
    transform: scale(1.02);
}

.profile-recipe-card:hover .default{
    filter: invert(1);
}

.profile-recipe-card:hover .result-profile-name p{
    color: white;
}

.profile-recipe-card:hover .result-name h1{
    color: var(--primary-color);
}

.profile-recipe-card:hover .result-contains p{
    color: white;
    margin: 0px;
    line-height: 19px;
    font-size: 12px;
}

.profile-recipe-card:hover .result-creation-date p{
    color: lightgray;
    margin: 0px;
    line-height: 21px;
    font-size: 14px;
}

.profile-recipe-card .result-information .result-contains p{
    margin: 0px;
}

.profile-recipe-card .result-creation-date p {
    margin: 0px;
}

.profile-recipe-card .result-name h1{
    margin: 0px;
}

@media (max-width: 450px) {
    .profile-recipe-card {
        margin: 0px 10px;
        border-bottom: 1.4px solid var(--border-color);
        overflow: hidden;
        background: transparent;
        background-size: 0%;
        background-position: 0%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        border: 1px solid var(--border-color);
        border-radius: 5%;
    }

    .profile-recipe-card.even {
        margin: 0px 10px;
        border-bottom: 1.4px solid var(--border-color);
        overflow: hidden;
        background: transparent;
        background-size: 0%;
        background-position: 0%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        border: 1px solid var(--border-color);
        border-radius: 5%;
    }

    .profile-recipe-card:hover {
        box-shadow: none;
        border-radius: 0px;
        margin: 0px 10px;
    }
    
    .profile-recipe-card:hover .result-image img{
        box-shadow: none;
        border-radius: 5%;
        border: 0px;
        transform: scale(1.02);
    }
    
    .profile-recipe-card:hover .default{
        filter: none;
    }
    
    .profile-recipe-card:hover .result-profile-name p{
        color: black;
    }
    
    .profile-recipecard:hover .result-name h1{
        color: var(--primary-color);
    }
    
    .profile-recipe-card:hover .result-contains p{
        color: black;
        margin: 0px;
        line-height: 19px;
        font-size: 12px;
    }
    
    .profile-recipe:hover .result-creation-date p{
        color: lightgray;
        margin: 0px;
        line-height: 21px;
        font-size: 14px;
    }

    .result-image img {
        max-width: calc(16/9 * var(--recipe-search-img-phone-height));
        width: calc(16/9 * var(--recipe-search-img-phone-height));
        height: var(--recipe-search-img-phone-height);
        max-height: var(--recipe-search-img-phone-height);
        border: none;
        transition: .37s ease-in;
        object-fit: cover;
        border-radius: 5%;
        box-shadow: none;
    }

    .result-image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: calc(16/9 * var(--recipe-search-img-phone-height));
        min-height: var(--recipe-search-img-phone-height);
        max-width: calc(16/9 * var(--recipe-search-img-phone-height));
        max-height: var(--recipe-search-img-phone-height);
        align-self: center;
    }

    .result-information {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
    }

    .result-profile-img img {
        position: relative;
        border: 3px solid aliceblue;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.072);
    }
}